root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[input.txt]
# Preserve whitespace if needed
trim_trailing_whitespace = false

[{*.kts,*.kt,*.java}]
indent_size = 4
